.message {
    margin     : auto;
    position: relative;
    width      : 96%;
    font-size  : 140%;
    line-height: 1.5em;
    text-align : center;
    color      : #000000;
    overflow   : hidden;
    border: 10px solid #26252B;
    background-color: #2f1825;
}
.message p{
    display     : inline-block;
    padding: 0.5rem;
    color: #FFB400;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0 0 20px;
    white-space : nowrap;
    line-height : 1em;
    animation   : scrollAnime 10s linear infinite;
}
@keyframes scrollAnime{
    0% { transform: translateX(300%)}
    100% { transform: translateX(-300%)}
}
.message:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#0a0600 1px, transparent 0px), linear-gradient(0, #0a0600 1px, transparent 1px);
    background-image: -webkit-linear-gradient(#0a0600 1px, transparent 0px), -webkit-linear-gradient(0, #0a0600 1px, transparent 1px);
    background-size: 2px 2px;
    z-index: 10;
}
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:22px auto;
    padding-left: 1px;
}

.slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
    padding-left: 1px;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
    margin:20px 0 0 0;
    padding-left: 1px;
}

.slick-dots li {
    display:inline-block;
    margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}
ul{
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.recommendation{
    padding: 0 52px;
}
.re-item-img{
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    height: 0;
    padding-top: 100%;
    background-color: #f0f0f0;
    display: block;
}
.re-item-img img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.recommendation-ul{
    padding: 0 52px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.re-item-title{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: -1px;
    font-size: 10px;
    color: #231e1e;
}
.re-item-price{
    display: flex;
    align-items: center;
    margin-top: -12px;
}
.re-item-title:hover{
    color: red;
}
.ra-item-title:hover{
    color: red;
}
.re-item-price span{
    font-size: 14px;
    color: #231e1e;
    font-weight: 700;
}
.re-item-price small{
    font-size: 10px;
    color: #231e1e;
    font-weight: 700;
    margin-left: 2px;
}
.re-item img{
    width: 15vw;
    border-radius: 5px;
}
.re-link{
    padding: 22px 0px 12px;
    border-radius: 14px;
    margin: 14px;
}
.recommendation-tag{
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 700;
}
.recommendation-list{
    display: flex;
}
.re-item{
    width: 15vw;
}
.re-item img:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;

}
.separation{
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #e6e6e6;
}
.ranking{
    padding: 0 52px;
}
.ra-ul{
    padding: 0 52px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.ra-link {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 22px 15px 12px;
    border-radius: 14px;
    background: #f0f0f0;
    text-align: center;
    margin: 15px;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.ra-img img{
    width: 12vw;
    border-radius: 5px;
}
.ra-img img:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;

}
.ra-item-title{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: -1px;
    font-size: 10px;
    color: #231e1e;
}
.num1-box{
    margin: -12px 188px 1px 1px;
    background-color: gold;
    color: #fff;
    width: 2vw;
}
.num2-box{
    margin: -12px 188px 1px 1px;
    background-color: #dcd2d2;
    color: #fff;
    width: 2vw;
}
.num3-box{
    margin: -12px 188px 1px 1px;
    background-color: #df7a21;
    color: #fff;
    width: 2vw;
}
.num-box{
    margin: -12px 188px 1px 1px;
    background-color: #fff;
    color: black;
    width: 2vw;
}
.ra-num{
    font-size: 18px;
}
.ra-item-price{
    align-items: center;
    margin-top: -12px;
    text-align: center;
}
.ra-item-price span{
    font-size: 14px;
    color: #231e1e;
    font-weight: 700;
}
.ra-item-price small {
    font-size: 10px;
    color: #231e1e;
    font-weight: 700;
    margin-left: 2px;
}