.log-form{
    width: 360px;
    padding: 20px 30px;
    margin: 10% auto;
    border: 1px solid #ccc;
    background-color: #F9F4E7;
    box-shadow: 1px 1px 2px #ccc;
}
.fav-de{
    width: 280px;
    padding: 20px 30px;
    margin: 10% auto;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ccc;
    display: flex;
}
.fav-de .right{
    margin: 0 0 0 20px;
    padding: 0;
}
.fav-de .title{
    margin: 0 0 0 0;
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
}
.fav-de .text{
    margin: 0 0 0 0;
}
.fav-de .buton{
    margin: 5px 0 0 75px;
    padding: 10px;
}
.fav-de img{
    border: 1px solid #666;
    -webkit-box-shadow: 0 1px 2px #666;
}
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:105%;
    margin: 10% 10% 0 -10%;

}
.slider img {
    margin: 0 5% 0 0;
    width: 160px;/*スライダー内の画像を横幅100%に*/
    height: 120px;
}
/*slickのJSで書かれるタグ内、スライド左右の余白調整*/
.slider .slick-slide {
    margin:0 10px;
}
/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev{
    margin: 0 0 0 10%;
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}
.slick-next {
    margin: 0 -6% 0 0;
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}
.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}
.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}
/*ドットナビゲーションの設定*/
.slick-dots {
    text-align:center;
    margin:0 20% 0 0;
}
.slick-dots li {
    display:inline-block;
    margin:7% 5% 0 0;
}
.slick-dots button {
    color: transparent;
    outline: none;
    cursor: pointer;
    width:10px;/*ドットボタンのサイズ*/
    height:10px;/*ドットボタンのサイズ*/
    display: block;
    border-radius:50%;
    background:#eee;/*ドットボタンの色*/
}
.slick-dots .slick-active button{
    background:#bbb;/*ドットボタンの現在地表示の色*/
}
input{
    margin-left: 20%;
    padding: 20px;
    width: 60%;
    border-radius: 5px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 3px #000;
    background-color: #a9ca8f;
}